<div class="media text-muted pt-3 border-bottom border-gray">
    <img data-src="holder.js/32x32?text=SB&bg=e83e8c&fg=fff&size=8" alt="" class="mr-2 rounded">
    
	<p class="media-body pb-3 mb-0 small lh-125">
        <a href="{{ path('micro_post_post', {'id' : post.id }) }}"><span class="d-block"><strong class="text-gray-dark">@username</strong> <small>· {{ post.time|date("d/m/Y") }}</small></span></a>
        {{ post.text }}
    </p>

	<small class="d-block text-right mt-3">
	    <a class="btn btn-sm btn-primary" href="{{ path('micro_post_edit', { 'id' : post.id }) }}">Edit</a>
	    <a class="btn btn-sm btn-danger" href="{{ path('micro_post_delete', { 'id' : post.id }) }}">Delete</a>
	</small>
</div>