<div class="media text-muted pt-3 border-bottom border-gray">
	{% set initials = post.user.fullName|split(' ') %}
    <img data-src="holder.js/32x32?text={{ attribute(initials, 0)|first }}{{ attribute(initials, 1)|first }}&bg=e83e8c&fg=fff&size=8" alt="" class="mr-2 rounded">
    
	<p class="media-body pb-3 mb-0 small lh-125">
        
        <a href="{{ path('micro_post_user', {'username': post.user.username}) }}"><span class="d-block"><strong class="text-gray-dark">@{{ post.user.username }}</strong></a>
        
        <small>· {{ post.time|date("d/m/Y") }}</small></span>
        <a href="{{ path('micro_post_post', {'id' : post.id }) }}">{{ post.text }}</a> 
        
		<small class="d-block text-right mt-3">
			{% if is_granted('edit', post) %}
		    <a class="btn btn-sm btn-primary" href="{{ path('micro_post_edit', { 'id' : post.id }) }}">Edit</a>
		    {% endif %}
		    {% if is_granted('delete', post) %}
		    <a class="btn btn-sm btn-danger" href="{{ path('micro_post_delete', { 'id' : post.id }) }}">Delete</a>
		    {% endif %}
		</small>
    </p>

</div>