{% extends 'blog/base.html.twig' %}

{% block body %}
	{% for id, post in posts %}
	<div class="posts">
		<p><a href="{{ path('blog_show', {'id': id}) }}">ID {{ id }}</a></p>
		<h3>{{ post.title }}</h3>
		<p>{{ post.text }}</p>
		<p>{{ post.date|date('H:i:s') }}</p>
	</div>
	{% endfor %}
{% endblock %}